.fotoProfilo {
    width: 2vw;
}
.bg_grey {
    background-color: #eaeaea;
}
.bg_azure {
    background-color: #8edafc;
}
.bg_white {
    background-color: white;
}
.bg_gren_grad {
    background: no-repeat linear-gradient(#009688 20%, #d2dbdb 20% 80%);
}
.bg_whatsApp {
    background-image: url(../img/mine.jpg);
}
.altezza_70 {
    min-height: 70px;
}
.altezza_75 {
    min-height: 75px;
}
#app {
    height: 100vh;
}