<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div id="app" class="container-fluid p-md-3 p-0 bg_gren_grad">
        <div class="container-md full_size">
            <div class="row d-flex p-0">
                <!-- Sezione dell'utente -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- Utente e navigazione -->
                    <div class="row bg_grey altezza_70">
                        <!-- Foto e nome utente -->
                        <div class="col-8 d-flex gap-2 p-2 align-items-center">
                            <img src="./img/avatar_io.jpg" alt="" class="rounded-circle fotoProfilo">
                            <label for="" class="fw-bold">Sofia</label>
                        </div>
                        <!-- Azioni utente -->
                        <div class="col-4 d-flex gap-3 p-2 align-items-center justify-content-end text-secondary">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- Avviso attiva notifiche -->
                    <div class="row align-items-center bg_azure altezza_75">
                        <div class="col-1 d-flex align-items-center">
                            <i class="fa-solid fa-bell-slash bg_white mute"></i>
                        </div>
                        <div class="col-11 align-items-center px-3">
                            <span class="d-block fw-bold">Ricevi notifiche di nuovi messagggi</span>
                            <a href="" class="font_14">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- Barra di ricerca conversazioni -->
                    <div class="row altezza_45">
                        <div class="col-12 bg_grey p-1">
                            <input class="form-control" type="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- Sezione delle conversazioni -->
                    <div class="row full_size_chat scroll_bar">
                        <div class="col-12 bg_white altezza_70 border-top d-flex p-0" v-for="(utenti, c) in contacts" @click="changeValue = c">
                            <button class="btn btn-light border-0 rounded-0 d-flex align-items-center">
                                <div class="col-1  d-flex align-items-center">
                                    <img :src="utenti.avatar" alt="" class="rounded-circle fotoProfilo">
                                </div>
                                <div class="col-8 px-4 text-start">
                                    <span class="fw-bold font_15">{{utenti.name}}</span><br>
                                    <p class="fw-light font_14 lh-1 m-0">{{utenti.messages[utenti.messages.length-1].message}}</p>
                                </div>
                                <div class="col-3 text-end">
                                    <span class="fw-light font_12">{{utenti.messages[utenti.messages.length-1].date.split(" ")[0]}}</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Sezione dei messaggi -->
                <div class="col-8 d-none d-md-block">
                    <!-- Nome utente conversazione -->
                    <div class="row align-items-center bg_grey altezza_70">
                        <div class="col-1">
                            <img :src="contacts[changeValue].avatar" alt="" class="rounded-circle fotoProfilo">
                        </div>
                        <div class="col-9 p-0">
                            <label for="" class="d-block fw-bold">{{contacts[changeValue].name}}</label>
                            <span class="fw-light text-secondary font_14">Ultimo accesso {{contacts[changeValue].messages[contacts[changeValue].messages.length-1].date}}</span>
                        </div>
                        <div class="col-2 text-secondary d-flex justify-content-end gap-3">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- Messaggi -->
                    <div class="row full_size_messages scroll_bar">         
                        <div class="col-12 pt-5" v-for="(msg, c) in contacts[changeValue].messages">
                            <!-- Messaggi ricevuti -->
                            <div class="col-12 my-1" v-if="msg.status === 'received'">
                                <div class="badge badge_me bg-light p-2">
                                    <div class="text-dark">
                                        <span>{{msg.message}}</span>
                                    </div>
                                    <div class="d-flex flex-row-reverse mt-2 fw-light text-dark">
                                        <span>{{msg.date.split(" ")[1]}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Messaggi inviati -->
                            <div class="col-12 my-1 d-flex flex-row-reverse" v-else>
                                <div class="badge badge_me bg_green p-2">
                                    <div class="text-dark">
                                        <span>{{msg.message}}</span>
                                    </div>
                                    <div class="d-flex flex-row-reverse mt-2 fw-light text-dark">
                                        <span>{{msg.date.split(" ")[1]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Barra scrittura messaggi -->
                    </div>
                    <div class="row text-center bg_grey align-self-end text-secondary altezza_70">
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="col-10 my-1 d-flex align-items-center justify-content-center">
                            <input type="text" class="form-control" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>